<ng-container *ngIf="data$ | async as data">
  <app-header></app-header>
  <div class="row-wrapper">
    <app-title [title]="data.mainData"></app-title>
    <app-appointments
      [appointments]="data.treatments"
      [selectedTreatment]="selectedTreatment"
    ></app-appointments>
  </div>
  <div class="row-wrapper">
    <app-offer
      [offer]="data.treatments"
      (emitTreatment)="handleTreatmentEmitted($event)"
    ></app-offer>
    <app-visits></app-visits>
  </div>
  <app-footer></app-footer>
</ng-container>
